*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style: none;}

body
{
background-image: linear-gradient(180deg, #ffffff2a 0%,#020202 70.52%),
url(assets/iphone\ wallpaper\ hd.png);
background-size: 100%;
background-repeat: no-repeat;



}


body
{font-family: 'Inter', sans-serif;
    line-height: 160%;}

header
{margin-top: 32px;
height: calc(120px + 32px);}

header div{
width: 128px;
margin: auto;
background-image: linear-gradient(90deg, #9572fc 0%,#43e7ad 50.52%, #ff7b00 100%);
border-radius: 50%;
display: flex;
padding: 4px;
transition: transform .3s;
}

header div:hover{
    transform: scale(1.1);
}

header img{
    border-radius: 50%;
    width: 120px;
}


main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
   
}
 section{
    color: white;
    background-image: linear-gradient(90deg, #9572fc 0%,#43e7ad 50.52%, #ff5e00 100%);
    padding-top: 4px;
    border-radius: 10px;
 }
 section div{
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;

 }

 section h2{

    letter-spacing: -0.47px;
 }

 section p{
    letter-spacing: -0.28px;
    color: #a1a1aa;
 }

 section ul{display: flex;
gap: 16px;
margin-top: 24px;
}

section ul li{
transition: transform .3s;
}

section ul li:hover{ 
transform: scale(1.1);
}

.lista-games img{
    border-radius: 8%;
    width: 80px;
}

.list-channel img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid #ffffff;
}

header div{animation: fromTop .8s .2s backwards;}

main section{animation: Frombottom .7s backwards;}

main section:nth-child(1)
{animation-delay: .0s;
}

main section:nth-child(2)
{animation-delay: .4s;
}


main section:nth-child(3)
{animation-delay: .8s;
}


@keyframes fromTop{
    From{opacity: 0;
        transform: translateY(-30px);}
   
    To{opacity: 1;
        transform: translateY(0);}

}

@keyframes Frombottom {
From{opacity: 0;
    transform: translateY(-30px);}

To{opacity: 1;
    transform: translateY(0);}
}